In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from astropy import units as u
from astropy import constants as const

system_frame = pd.read_csv("solar_system.csv")

print(system_frame.shape)

system_frame = system_frame.set_index("Attribute").T
system_frame.index.name = "Planet"
system_frame.reset_index(inplace=True)
system_frame.columns.name = None

print(system_frame.shape)

#20 rows before, 10 after
#11 columns before, 21 after

#Line 1 transposes the frame (like turning the whole thing sideways)
#Line 2 changes the name of the index to "planet"
#Line 3 resets the index of the new frame to match its new shape without creating a new frame
#Line 4 removes the names for each columns

#The names of each column are always their own row, which are never removed

print(system_frame.columns)

#16 Columns have units (not listing them all for my sanity)
#5 Columns don't have units, 'planet', 'orbital eccentricity', 'number of moons', 'ring system', 'magnetic field'

print(system_frame)

(20, 11)
(10, 21)
Index(['Planet', 'Mass (10^24kg)', 'Diameter (km)', 'Density (kg/m^3)',
       'Gravity (m/s^2)', 'Escape Velocity (km/s)', 'Rotation Period (hours)',
       'Length of Day (hours)', 'Distance from Sun (10^6 km)',
       'Perihelion (10^6 km)', 'Aphelion (10^6 km)', 'Orbital Period (days)',
       'Orbital Velocity (km/s)', 'Orbital Inclination (deg)',
       'Orbital Eccentricity', 'Obliquity to Orbit (deg)',
       'Mean Temperature (C)', 'Surface Pressure (bars)', 'Number of Moons',
       'Ring System?', 'Global Magnetic Field?'],
      dtype='object')
    Planet Mass (10^24kg) Diameter (km) Density (kg/m^3) Gravity (m/s^2)  \
0  Mercury          0.330          4879             5429             3.7
1    Venus           4.87         12104             5243             8.9
2    Earth           5.97         12756             5514             9.8
3     Moon          0.073          3475             3340             1.6
4     Mars          0.642          6792             3934             3.7
5  Jupiter           1898        142984             1326            23.1
6   Saturn            568        120536              687             9.0
7   Uranus           86.8         51118             1270             8.7
8  Neptune            102         49528             1638            11.0
9    Pluto         0.0130          2376             1850             0.7

  Escape Velocity (km/s) Rotation Period (hours) Length of Day (hours)  \
0                    4.3                  1407.6                4222.6
1                   10.4                 -5832.5                2802.0
2                   11.2                    23.9                  24.0
3                    2.4                   655.7                 708.7
4                    5.0                    24.6                  24.7
5                   59.5                     9.9                   9.9
6                   35.5                    10.7                  10.7
7                   21.3                   -17.2                  17.2
8                   23.5                    16.1                  16.1
9                    1.3                  -153.3                 153.3

  Distance from Sun (10^6 km) Perihelion (10^6 km)  ... Orbital Period (days)  \
0                        57.9                 46.0  ...                  88.0
1                       108.2                107.5  ...                 224.7
2                       149.6                147.1  ...                 365.2
3                       0.384                0.363  ...                  27.3
4                       228.0                206.7  ...                 687.0
5                       778.5                740.6  ...                  4331
6                      1432.0               1357.6  ...                 10747
7                      2867.0               2732.7  ...                 30589
8                      4515.0               4471.1  ...                 59800
9                      5906.4               4436.8  ...                 90560

  Orbital Velocity (km/s) Orbital Inclination (deg) Orbital Eccentricity  \
0                    47.4                       7.0                0.206
1                    35.0                       3.4                0.007
2                    29.8                       0.0                0.017
3                     1.0                       5.1                0.055
4                    24.1                       1.8                0.094
5                    13.1                       1.3                0.049
6                     9.7                       2.5                0.052
7                     6.8                       0.8                0.047
8                     5.4                       1.8                0.010
9                     4.7                      17.2                0.244

  Obliquity to Orbit (deg) Mean Temperature (C) Surface Pressure (bars)  \
0                    0.034                  167                       0
1                    177.4                  464                      92
2                     23.4                   15                       1
3                      6.7                  -20                       0
4                     25.2                  -65                    0.01
5                      3.1                 -110                 Unknown
6                     26.7                 -140                 Unknown
7                     97.8                 -195                 Unknown
8                     28.3                 -200                 Unknown
9                    119.5                 -225                 0.00001

  Number of Moons Ring System? Global Magnetic Field?
0               0           No                    Yes
1               0           No                     No
2               1           No                    Yes
3               0           No                     No
4               2           No                     No
5              95          Yes                    Yes
6             274          Yes                    Yes
7              28          Yes                    Yes
8              16          Yes                    Yes
9               5           No                Unknown

[10 rows x 21 columns]

In [6]:
print(system_frame.dtypes)

Planet                         object
Mass (10^24kg)                 object
Diameter (km)                  object
Density (kg/m^3)               object
Gravity (m/s^2)                object
Escape Velocity (km/s)         object
Rotation Period (hours)        object
Length of Day (hours)          object
Distance from Sun (10^6 km)    object
Perihelion (10^6 km)           object
Aphelion (10^6 km)             object
Orbital Period (days)          object
Orbital Velocity (km/s)        object
Orbital Inclination (deg)      object
Orbital Eccentricity           object
Obliquity to Orbit (deg)       object
Mean Temperature (C)           object
Surface Pressure (bars)        object
Number of Moons                object
Ring System?                   object
Global Magnetic Field?         object
dtype: object

In [10]:
for col in system_frame.columns:
    print(system_frame[col].apply(type))

#The actual values are integers, floats and booleans (yes/no instead of T/F)
#Storing numeric values as strings causes errors when you perform math operations on them, making them
#impossible to calculate with.

0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Planet, dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Mass (10^24kg), dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Diameter (km), dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Density (kg/m^3), dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Gravity (m/s^2), dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Escape Velocity (km/s), dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Rotation Period (hours), dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Length of Day (hours), dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Distance from Sun (10^6 km), dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Perihelion (10^6 km), dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Aphelion (10^6 km), dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Orbital Period (days), dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Orbital Velocity (km/s), dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Orbital Inclination (deg), dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Orbital Eccentricity, dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Obliquity to Orbit (deg), dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Mean Temperature (C), dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Surface Pressure (bars), dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Number of Moons, dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Ring System?, dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Global Magnetic Field?, dtype: object

In [17]:
exclude = ["Planet", "Ring System?", "Global Magnetic Field?"]
for col in system_frame.columns:
    if col not in exclude:
        system_frame[col] = pd.to_numeric(system_frame[col], errors="coerce")
print(system_frame.dtypes)

#There are now 3 types because to_numeric uses a different type for floats than ints, and both were fed to it
#float64 - 64-bit floating point, int64 - 64-bit signed integer, object - anything
#The three excluded columns are still object because to_numeric wasn't called on them

Planet                          object
Mass (10^24kg)                 float64
Diameter (km)                    int64
Density (kg/m^3)                 int64
Gravity (m/s^2)                float64
Escape Velocity (km/s)         float64
Rotation Period (hours)        float64
Length of Day (hours)          float64
Distance from Sun (10^6 km)    float64
Perihelion (10^6 km)           float64
Aphelion (10^6 km)             float64
Orbital Period (days)          float64
Orbital Velocity (km/s)        float64
Orbital Inclination (deg)      float64
Orbital Eccentricity           float64
Obliquity to Orbit (deg)       float64
Mean Temperature (C)             int64
Surface Pressure (bars)        float64
Number of Moons                  int64
Ring System?                    object
Global Magnetic Field?          object
dtype: object

In [18]:
def attach_units(col, unit, name=None):
    new = []
    for i in system_frame[col]:
        new.append(i * unit)
    system_frame[col] = new
    if name:
        system_frame.rename(columns={col:name}, inplace=True)

attach_units("Mass (10^24kg)", 1e24 * u.kg, "Mass (kg)")
print(system_frame["Mass (kg)"])

0                   3.3e+23 kg
1                  4.87e+24 kg
2     5.969999999999999e+24 kg
3                   7.3e+22 kg
4                  6.42e+23 kg
5                 1.898e+27 kg
6                  5.68e+26 kg
7                  8.68e+25 kg
8    1.0199999999999999e+26 kg
9                   1.3e+22 kg
Name: Mass (kg), dtype: object

In [30]:
peri = system_frame["Perihelion (10^6 km)"]
aphe = system_frame["Aphelion (10^6 km)"]

semi_major_axis = (peri + aphe) / 2

system_frame.insert(11, "Semi-major axis (10^6 km)", semi_major_axis)

In [33]:
print(system_frame.columns)
print(system_frame["Semi-major axis (10^6 km)"])
print(system_frame.dtypes)

Index(['Planet', 'Mass (kg)', 'Diameter (km)', 'Density (kg/m^3)',
       'Gravity (m/s^2)', 'Escape Velocity (km/s)', 'Rotation Period (hours)',
       'Length of Day (hours)', 'Distance from Sun (10^6 km)',
       'Perihelion (10^6 km)', 'Aphelion (10^6 km)',
       'Semi-major axis (10^6 km)', 'Orbital Period (days)',
       'Orbital Velocity (km/s)', 'Orbital Inclination (deg)',
       'Orbital Eccentricity', 'Obliquity to Orbit (deg)',
       'Mean Temperature (C)', 'Surface Pressure (bars)', 'Number of Moons',
       'Ring System?', 'Global Magnetic Field?'],
      dtype='object')
0      57.9000
1     108.2000
2     149.6000
3       0.3845
4     228.0000
5     778.5000
6    1432.0500
7    2867.0500
8    4515.0000
9    5906.3500
Name: Semi-major axis (10^6 km), dtype: float64
Planet                          object
Mass (kg)                       object
Diameter (km)                    int64
Density (kg/m^3)                 int64
Gravity (m/s^2)                float64
Escape Velocity (km/s)         float64
Rotation Period (hours)        float64
Length of Day (hours)          float64
Distance from Sun (10^6 km)    float64
Perihelion (10^6 km)           float64
Aphelion (10^6 km)             float64
Semi-major axis (10^6 km)      float64
Orbital Period (days)          float64
Orbital Velocity (km/s)        float64
Orbital Inclination (deg)      float64
Orbital Eccentricity           float64
Obliquity to Orbit (deg)       float64
Mean Temperature (C)             int64
Surface Pressure (bars)        float64
Number of Moons                  int64
Ring System?                    object
Global Magnetic Field?          object
dtype: object

In [40]:
#attach_units('Orbital Period (days)', (1/365) * u.years, 'Orbital Period (years)')
attach_units('Orbital Period (years)', u.yr)

In [49]:
print(system_frame.columns)
print(system_frame["Orbital Period (years)"])
print(f"Mercury's year is {system_frame.iloc[0,12]:.4f} Earth years long")

Index(['Planet', 'Mass (kg)', 'Diameter (km)', 'Density (kg/m^3)',
       'Gravity (m/s^2)', 'Escape Velocity (km/s)', 'Rotation Period (hours)',
       'Length of Day (hours)', 'Distance from Sun (10^6 km)',
       'Perihelion (10^6 km)', 'Aphelion (10^6 km)',
       'Semi-major axis (10^6 km)', 'Orbital Period (years)',
       'Orbital Velocity (km/s)', 'Orbital Inclination (deg)',
       'Orbital Eccentricity', 'Obliquity to Orbit (deg)',
       'Mean Temperature (C)', 'Surface Pressure (bars)', 'Number of Moons',
       'Ring System?', 'Global Magnetic Field?'],
      dtype='object')
0    0.2410958904109589 yr
1    0.6156164383561643 yr
2    1.0005479452054795 yr
3    0.0747945205479452 yr
4    1.8821917808219177 yr
5    11.865753424657534 yr
6    29.443835616438356 yr
7      83.8054794520548 yr
8    163.83561643835617 yr
9     248.1095890410959 yr
Name: Orbital Period (years), dtype: object
Mercury's year is 0.2411 yr Earth years long

In [50]:
#AU - the distance from the earth to the Sun
print(const.au)

  Name   = Astronomical Unit
  Value  = 149597870700.0
  Uncertainty  = 0.0
  Unit  = m
  Reference = IAU 2012 Resolution B2

In [53]:
#attach_units('Diameter (km)', u.au, 'Diameter (AU)')
attach_units('Diameter (AU)', 6.68459 * pow(10,-9))
print(system_frame['Diameter (AU)'])

0           3.261411461e-05 AU
1     8.091027736000001e-05 AU
2     8.526863004000001e-05 AU
3    2.3228950250000003e-05 AU
4     4.540173528000001e-05 AU
5     0.0009557894165600001 AU
6     0.0008057337402400001 AU
7          0.00034170287162 AU
8          0.00033107437352 AU
9           1.588258584e-05 AU
Name: Diameter (AU), dtype: object

In [54]:
attach_units('Perihelion (10^6 km)', 6.68459 * pow(10,-6) * u.au, 'Perihelion (AU)')
attach_units('Distance from Sun (10^6 km)', 6.68459 * pow(10,-6) * u.au, 'Distance from Sun (AU)')
attach_units('Aphelion (10^6 km)', 6.68459 * pow(10,-6) * u.au, 'Aphelion (AU)')
attach_units('Semi-major axis (10^6 km)', 6.68459 * pow(10,-6) * u.au, 'Semi-major axis (AU)')

print(system_frame['Perihelion (AU)'])
print(system_frame['Distance from Sun (AU)'])
print(system_frame['Aphelion (AU)'])
print(system_frame['Semi-major axis (AU)'])

0             0.00030749114 AU
1     0.0007185934249999999 AU
2            0.000983303189 AU
3    2.4265061699999997e-06 AU
4            0.001381704753 AU
5     0.0049506073539999996 AU
6      0.009074999383999999 AU
7            0.018266979093 AU
8      0.029887470349000002 AU
9            0.029658188912 AU
Name: Perihelion (AU), dtype: object
0    0.00038703776099999996 AU
1            0.000723272638 AU
2            0.001000014664 AU
3    2.5668825599999998e-06 AU
4     0.0015240865199999999 AU
5            0.005203953315 AU
6             0.00957233288 AU
7             0.01916471953 AU
8             0.03018092385 AU
9      0.039481862375999995 AU
Name: Distance from Sun (AU), dtype: object
0    0.00046658438199999997 AU
1            0.000727951851 AU
2            0.001016726139 AU
3            2.71394354e-06 AU
4     0.0016664682869999999 AU
5      0.005457299275999999 AU
6            0.010070334835 AU
7            0.020063128426 AU
8      0.030474377350999997 AU
9            0.049304867381 AU
Name: Aphelion (AU), dtype: object
0    0.00038703776099999996 AU
1            0.000723272638 AU
2            0.001000014664 AU
3           2.570224855e-06 AU
4     0.0015240865199999999 AU
5            0.005203953315 AU
6           0.0095726671095 AU
7           0.0191650537595 AU
8             0.03018092385 AU
9           0.0394815281465 AU
Name: Semi-major axis (AU), dtype: object

In [56]:
print(f"Mercury's diameter is {system_frame.iloc[0,2]:.4f}")
print(f"Mercury's distance from the Sun is {system_frame.iloc[0,8]:.4f}")
print(f"Mercury's perihelion is {system_frame.iloc[0,9]:.4f}")
print(f"Mercury's aphelion is {system_frame.iloc[0,10]:.4f}")
print(f"Mercury's semi-major axis is {system_frame.iloc[0,11]:.4f}")

Mercury's diameter is 0.0000 AU
Mercury's distance from the Sun is 0.0004 AU
Mercury's perihelion is 0.0003 AU
Mercury's aphelion is 0.0005 AU
Mercury's semi-major axis is 0.0004 AU

In [57]:
system_frame.to_csv("units.csv", index=False)