In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.optimize import curve_fit

data = pd.read_csv('solar_system.csv')

print(data.shape)
#rows is first number, cols 2nd number (20 rows, 11 cols)

print(data.head())
print(data.tail())

print(data.columns)
print(data.index)

(20, 11)
                Attribute Mercury  Venus  Earth   Moon   Mars Jupiter  Saturn  \
0          Mass (10^24kg)   0.330   4.87   5.97  0.073  0.642    1898     568
1           Diameter (km)    4879  12104  12756   3475   6792  142984  120536
2        Density (kg/m^3)    5429   5243   5514   3340   3934    1326     687
3         Gravity (m/s^2)     3.7    8.9    9.8    1.6    3.7    23.1     9.0
4  Escape Velocity (km/s)     4.3   10.4   11.2    2.4    5.0    59.5    35.5

  Uranus Neptune   Pluto
0   86.8     102  0.0130
1  51118   49528    2376
2   1270    1638    1850
3    8.7    11.0     0.7
4   21.3    23.5     1.3
                  Attribute Mercury Venus Earth Moon  Mars  Jupiter   Saturn  \
15     Mean Temperature (C)     167   464    15  -20   -65     -110     -140
16  Surface Pressure (bars)       0    92     1    0  0.01  Unknown  Unknown
17          Number of Moons       0     0     1    0     2       95      274
18             Ring System?      No    No    No   No    No      Yes      Yes
19   Global Magnetic Field?     Yes    No   Yes   No    No      Yes      Yes

     Uranus  Neptune    Pluto
15     -195     -200     -225
16  Unknown  Unknown  0.00001
17       28       16        5
18      Yes      Yes       No
19      Yes      Yes  Unknown
Index(['Attribute', 'Mercury', 'Venus', 'Earth', 'Moon', 'Mars', 'Jupiter',
       'Saturn', 'Uranus', 'Neptune', 'Pluto'],
      dtype='object')
RangeIndex(start=0, stop=20, step=1)

In [25]:
orbital_period = data.iloc[10]
perihelion = data.iloc[8]
aphelion = data.iloc[9]

#perihelion - point closest to the Sun
#aphelion - point on orbit farthest from Sun
# Semi-major axis - half of the longest diameter of an oval orbit

print(perihelion)
print(aphelion)

Attribute    Perihelion (10^6 km)
Mercury                      46.0
Venus                       107.5
Earth                       147.1
Moon                        0.363
Mars                        206.7
Jupiter                     740.6
Saturn                     1357.6
Uranus                     2732.7
Neptune                    4471.1
Pluto                      4436.8
Name: 8, dtype: object
Attribute    Aphelion (10^6 km)
Mercury                    69.8
Venus                     108.9
Earth                     152.1
Moon                      0.406
Mars                      249.3
Jupiter                   816.4
Saturn                   1506.5
Uranus                   3001.4
Neptune                  4558.9
Pluto                    7375.9
Name: 9, dtype: object

In [27]:
peri = pd.to_numeric(perihelion.drop("Attribute"))
aphe = pd.to_numeric(aphelion.drop("Attribute"))

semi_major_axis = (peri + aphe) / 2
semi_major_axis.name = "Semi-major axis (10^6 km)"

print(semi_major_axis)

Mercury      57.9000
Venus       108.2000
Earth       149.6000
Moon          0.3845
Mars        228.0000
Jupiter     778.5000
Saturn     1432.0500
Uranus     2867.0500
Neptune    4515.0000
Pluto      5906.3500
Name: Semi-major axis (10^6 km), dtype: float64